 /*Css syntax*/
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Mitr', sans-serif;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/Image/sighlogin.png)no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px; /* adjust to hea
    der height */


}
 /*change tab bar*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(20, 20, 20);
    box-shadow:0 0 50px rgb(59, 99, 176);
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    z-index: 99;
}

 /*change  logo*/
 .logo {
    display: flex;
    align-items: center;
}
/*logo set size*/
.logo-img {
    width: 100px;
    height: auto;
}

/*button menu home,about.services,contech*/
.navigation a {
    position: relative;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 40px;
    transition: .5s;
}   
/*after change color text*/
.navigation a:hover {
    color: rgb(59, 99, 176);
}
/*button login*/
.navigation .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border:  2px solid #fff;
    outline: none;    
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-left: auto;
    transition: .5s;
}
/*after change be color after mouse point*/
.navigation .btnlogin-popup:hover {
    background: #fff;
    color: rgb(59, 99, 176)
}
.wrapper { 
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px rgb(59, 99, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
        transform: scale(1);

}

.wrapper.active{
    transform: scale(1);
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
transform: translateX(0);

}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);

}

.wrapper .form-box.register { 
    position: absolute;
    transition: none;
    transform: translateX(400px);


}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
transform: translateX(0);
}


.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(59, 99, 176);
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}
.form-box h2{
    font-size:  2em;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin:  30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-100%);
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
/*do  make anmition? */

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}

/*do about box */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;          /* remove default input border */
    outline: none;         /* remove blue focus outline */
    font-size: 1em;
    color: #ffffff;
    padding: 0 35px 0 5px;
    font-weight: 600;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1cm;
    color: #ffffff;
    line-height: 57px;
    width: 20px;
    height: 20px;
}
 /* forgot? */
.remember-forgot {
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
   accent-color: #ffffff; 
   margin-right: 3px;
}
.remember-forgot a {
    color: #ffffff;
    text-decoration: none;
    
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: rgb(59, 99, 176);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    box-shadow:0 0 50px rgb(59, 99, 176);

}

.login-register{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
